{% extends 'base.html.twig' %}
{% block body %}
    <div class="card mt-5">
        <div class="card-body">
            Successfully marked {{ article.title }} as read
        </div>
    </div>
{% endblock %}